<div class="container-fluid pt-4">
  
  <h2 class="mb-5 text-center">Bienvenue, <%= current_user.prenom %></h2>
  <%= turbo_stream_from current_user %>

  <div class="row g-4">
    <div class="col-lg-4">
      <!-- Carte Solde -->
      <%= render "static_pages/solde", user: current_user %>
    </div>
    <div class="col-lg-4">
      <!-- Carte Prochain Vol -->
      <%= render "static_pages/prochain_vol" %>
    </div>
    <div class="col-lg-4">
      <!-- Carte Mes Vols -->
      <%= render "static_pages/mes_vols" %>
    </div>
    <div class="col-lg-4">
      <!-- Carte dates limites -->
      <%= render 'static_pages/validites', user: current_user %>
    </div>
    <div class="col-lg-4">
      <!-- Carte évènements à venir -->
      <%= render 'static_pages/evenements_a_venir' %>
    </div>
    <div class="col-lg-4">
      <!-- Carte dernières transactions -->
      <%= render 'static_pages/mes_transactions' %>
    </div>
  </div>

</div>
