<%# --- SECTION DERNIÈRES TRANSACTIONS --- %>
<% if @transactions.present? && @transactions.any? %>

  <div class="card h-100 shadow">
    <div class="card-header bg-info text-white">
      <h5 class="card-title mb-0">
        <i class="fas fa-glass-cheers me-2"></i>Mes dernières transactions
      </h5>
    </div>
      <div class="list-group list-group-flush">
        <% @transactions.each do |transaction| %>
          <%= link_to transaction_path(transaction), class: "list-group-item list-group-item-action d-flex justify-content-between align-items-center" do %>
            <div>
              <span class="text-muted"><%= l transaction.date_transaction, format: :short %></span> -
              <strong><%= transaction.description %></strong>
            </div>
            <span class="badge <%= transaction.mouvement == 'Recette' ? 'bg-success' : 'bg-danger' %> rounded-pill fs-6">
              <%= number_to_currency(transaction.montant, unit: "€", separator: ",", delimiter: " ", format: "%n %u") %>
            </span>
          <% end %>
        <% end %>
      </div>
  </div>

<% end %>
