<%# On enveloppe la liste dans le turbo-frame pour que les mises à jour AJAX fonctionnent %>
<%= turbo_frame_tag "user_list_results" do %>
  <div class="list-group">
    <% if users.empty? %>
      <div class="list-group-item">
        Aucun adhérent ne correspond à votre recherche.
      </div>
    <% else %>
      <% users.each do |user| %>
        <%# Chaque lien cible le Turbo Frame "user_details" %>
        <%= link_to user_path(user), class: "list-group-item list-group-item-action d-flex justify-content-between align-items-center", data: { turbo_frame: "user_details" } do %>
          <div>
            <h5 class="mb-1"><%= user.name %></h5>
            <p class="mb-1 text-muted"><%= user.email %></p>
            <% if user.instructeur? %>
              <span class="badge bg-success ms-2">Instructeur</span>
            <% end %>
          </div>
          <%
            # On définit la couleur du badge en fonction du rôle de l'utilisateur
            badge_class = case user.fonction
                          when 'president'
                            'bg-danger'   # Rouge pour le Président
                          when 'eleve'
                            'bg-primary'  # Bleu pour les Élèves
                          when 'tresorier'
                            'bg-warning'  # Jaune pour le Trésorier
                          else
                            'bg-secondary'# Gris pour les autres (Brevete, etc.)
                          end
          %>
          <span class="badge <%= badge_class %> rounded-pill"><%= user.fonction.capitalize %></span>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
